@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

html,body{height:100vh;}

body {
  font-family: 'Fira Code', monospace;
}

.container-fluid {
  max-height: calc(100% - 56px);
  height: calc(100% - 56px);
}

.modal-content {
  height: calc(100vh - 56px);
}